/* General */

.modal-content .modal-header .modal-title {
    font-size: 26px;
    background: #020312;
    background: -webkit-linear-gradient(to left, #020312 0%, #8754C9 100%);
    background: -moz-linear-gradient(to left, #020312 0%, #8754C9 100%);
    background: linear-gradient(to left, #020312 0%, #8754C9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.MuiTableCell-alignLeft {
    text-align: right;
    overflow-wrap: anywhere;
}
.MuiInputBase-inputMultiline {
    /* direction: ltr; */
    direction: rtl;
}
.modal-header{
    /* direction: ltr; */
    direction: rtl;
}
/* Form */

.AddItemGroup {
    width: 100%;
    display: block;
    position: relative;
    float: right;
}

.AddItem {
    width: 100%;
    display: block;
    position: relative;
    float: right;
    border: none;
}

.AddItem .AddItemContainer {
    display: block;
    position: relative;
    float: right;
    margin-left: 3%;
    margin-right: 3%;
}

.FooterContainer{
    width: 100%;
    display: block;
    position: relative;
}

.AddItemButtons {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    text-align: center;
}

.AddItemButtons Button.SaveButton {
    margin: 0% 2% 0.5% 2%;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;

}

.AddItemButtons Button.CancelButton {
    margin: 0% 2% 0.5% 2%;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;

}

.ErrorMessage {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.PlanBreakdownAddBtn {
    display: block;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 60px;
    border-radius: 50%;
}

.PlanBreakdownAddBtn .AddImg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../../../Assets/add.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.PlanBreakdownAddBtn:hover .AddImg {
    background-image: url('../../../../Assets/addhover.png');
}

@media only screen and (max-width: 999px) and (min-width: 576px) {

    .AddItem .AddItemContainer {
        width: 44%;
    }

    .modal-dialog {
        max-width: 80%!important;
    }
}

@media only screen and (min-width: 1000px) {

    .AddItem .AddItemContainer {
        width: 44%;
    }

    .modal-dialog {
        max-width: 60%!important;
    }
}

@media only screen and (max-width: 575px) {

    .AddItem .AddItemContainer {
        width: 94%;
    }

    .modal-dialog {
        max-width: 100%!important;
    }
}
